@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&family=Pacifico&display=swap');

:root {
  --lightBlue: #ebf2fc;
  --blue: #bfd4f6;
  --balsamiq: "Balsamiq Sans";
  --pacifico: Pacifico;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale  
}

input, select, button, textarea {
  border: 0 none;
  background-color: #FFF;
  -webkit-appearance: none;
  appearance: none;
}

select, input {
  font-size: 1.6em;
  border-radius: 2em;
  padding: 0.5em 1em;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: var(--blue);
  color: #FFF;
  font-size: 1.6em;
  padding: 0.5em 1.5em;
  border-radius: 2em;
}

body {
  font-size: 62.5%;
  font-family: var(--balsamiq);
  background-color: var(--lightBlue);
}

.App {
  padding: 2em;
}

.header {
  text-align: center;
  margin-bottom: 4em;
  
  h1 {
    font-family: var(--pacifico);
    color: #FFF;
    font-size: 5em;
    line-height: 1em;
    text-transform: lowercase;
    text-shadow: 1px 1px var(--blue);
  }
}

.ingredient-form {
  margin: 1em 0 2em 0;
  position: relative;

  input {
    width: 100%;
  }

  button {
    font-family: var(--pacifico);
    width: 1.35em;
    height: 1.35em;
    border-radius: 100%;
    font-size: 2em;
    text-align: center;
    padding: 0;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    line-height: 1em;

    span {
      position: relative;
      top: -0.1em;
    }
  }
}

.ingredient-list {
  background-color: #FFF;
  box-shadow: 2px 2px 0 var(--blue);
  list-style: none;

  li {
    padding: 0.5em 0.75em;
    border-bottom: 1px dashed var(--blue);
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;

    &:last-child {
      border: 0 none;
    }

    svg {
      margin-left: 1em;
      color: #c00;
      cursor: pointer;
    }
  }
}

h2 {
  font-size: 1.6em;
  color: var(--blue);
  text-shadow: 1px 1px #FFF;
}

.pan-type {
  margin-top: 2em;

  select, input {
    margin: 0.5em 0;
    width: calc(50% - 0.5em);
  }
  
  input {
    font-size: 1.6em;
  }
}

.pan-size {
  display: flex;
  justify-content: space-between;

  input {
    margin-bottom: 0;
  }
}

.buttons {
  margin-top: 1em;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  display: flex;
  justify-content: space-around;
  flex-direction: column;  
  
  .popup {
    background-color: #FFF;
    padding: 2em;
    border-radius: 1.5em;
    margin: 2em;
    width: calc(100% - 4em);
    box-sizing: border-box;
    position: relative;
  }

  p {
    font-size: 1.6em;

    small {
      display: block;
      margin-top: 1em;
      font-size: 0.85em;
    }
  }

  .close {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    padding: 0;
    line-height: 1em;
    position: absolute;
    top: -1em;
    right: -1em;

    svg {
      position: relative;
      top: 0.05em
    }
  }
}